* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono';
    background-color: #dcdde1;
}

h1 {
    margin: 0;
    font-weight: 300;
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

input {
    border: 1px solid #f5f6fa;
    padding: 6px;
    font-family: 'Roboto Mono';
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s ease-out;
}

input:focus {
    border: 1px solid #2f3640;
}

.version-selector {
    background-color: #f5f6fa;
    border: 1px solid #f5f6fa;
    line-height: 10px;
    padding: 12px;
    margin-left: 10px;
    border-radius: 16px;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

.version-selector:hover {
    border: 1px solid #2f3640;
}

.version-selector-selected {
    background-color: #2f3640;
    border: 1px solid #2f3640;
    color: white;
}

.invalid-input {
    border: 1px solid #e84118 !important;
}